h1 {
  color: red;
  font-size: 50px;
  cursor: pointer;
}

.h_effect:hover {
  color: blue;
  font-size: 51px;
}

.a_effect:active {
  color: brown;
}

.f_effect:focus {
  background-color: antiquewhite;
}

a:visited {
  color: red;
}
